<template>
    <div>
       <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <h5 class="pl-4 pt-3">Consultar Documentos {{ namepanel }}</h5>
                <div class="card-body pl-4">
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputcufe">CUFE</label>
                          <input type="text" class="form-control" id="inputcufe" placeholder="N° Único de Facturación electrónica">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputNitReceptor">NIT {{ datanit }}</label>
                          <input type="text" class="form-control" id="inputNitReceptor" placeholder="N° Nit Receptor">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputRango">Rango</label>
                          <input type="date" class="form-control" id="inputRango" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputRango">Estado</label>
                            <select class="form-control" @change="getStateDocument(stateDocument)" v-model="stateDocument">
                           <option value="Todos" selected>Todos</option> 
                           <option :value="'Aprobado'">Aprobado</option>
                           <option :value="'Aprobado con Notificación'">Aprobado Con Notificacion</option>
                     </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputTipoDocumento">Tipo documento</label>
                            <select class="form-control" @change="getTypeDocument(typeDocument)" v-model="typeDocument">
                              <option value="Facturacion electronica" selected>Factura electrónica</option> 
                              <option :value="'Factura de exportacion electronica'">Factura de exportación electrónica</option>
                              <option :value="'Factura de contingencia elctronica'">Factura de contingencia electrónica</option>
                              <option :value="'Factura de contingencia elctronica DIAN'">Factura de contingencia electrónica Dian</option>
                              <option :value="'Nota de credito electronica'">Nota de crédito electrónica</option>
                              <option :value="'Nota de debito electronica'">Nota de débito electrónica</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputTipoReferencia">Tipo de referencia</label>
                            <select class="form-control" @change="getTypeReference(typeReference)" v-model="typeReference">   
                              <option value="Nota de credito electronica" selected>Nota de crédito electrónica</option>
                              <option :value="'Nota de debito electronica'">Nota de débito electrónica</option>
                            </select>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-success btn-rounded btn-icon-text">
                        <i class="mdi mdi-filter btn-icon-prepend"></i> Buscar</button>
                    </form>
                </div>
              </div>
            </div>
          </div> 
    </div>
</template>
<script>
export default {
    props: ['namepanel', 'datanit'],
    data(){
    return{
        stateDocument: "Todos",
        typeDocument: "Facturacion electronica",
        typeReference: "Nota de credito electronica"
    }
  },
  methods:{
    getStateDocument(state){
      this.stateDocment = state;
    },
    getTypeDocument(document){
      this.typeDocument = document
    }, 
    getTypeReference(reference){
      this.typeReference = reference
    }, 
    
  }
}
</script>
