<template>
    <div>
       <FilterDocument :namepanel= "namepanel" :datanit = "datanit"></FilterDocument>
       <TableInfo></TableInfo>    
    </div>
</template>
<script>

import FilterDocument from './FilterDocument';
import TableInfo from './TableDataFilter';

export default {
  name: "PanelSent",
  components: {
    FilterDocument,
    TableInfo
  }, 
  data() {
    return {
      namepanel: "enviados",
      datanit: "receptor"
    }
  }
}
</script>