<template>
    <div> 
      <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <h5 class="pl-4 pt-3">Registrar Facturador</h5>
                <div class="card-body pl-4">
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputNit">NIT</label>
                          <input type="text" class="form-control" id="inputNit" disabled="disabled" value="94120603065">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputNombre">Nombre</label>
                          <input type="text" class="form-control" id="inputNombre" disabled="disabled" value="Representante empresa">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputRazonSocial">Razon Social</label>
                          <input type="text" class="form-control" id="inputRazonSocial" disabled="disabled" value="Nombre empresa">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCorreoPrincipal">Correo Electrónico</label>
                            <input type="text" class="form-control" id="inputCorreoPrincipal" disabled="disabled" value="correoempresa@correo.com">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCodigoActividad">Código Actividad Principal</label>
                            <input type="text" class="form-control" id="inputCodigoActividad" disabled="disabled" value="75782">
                        </div>
                        <div class="form-group col-md-4 d-flex justify-content-around align-items-center pt-4">

                            <label for="inputestado">Estado de Aprobación</label>
                            <label class="badge badge-success">Aprobado</label>
                            <!-- <input type="text" class="form-control" id="inputestado" placeholder=""> -->
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCorreoElectronico">Correo Electrónico de recepción de facturas</label>
                            <input type="email" class="form-control" id="inputCorreoElectronico" placeholder="">
                        </div>

                      </div>
                      <button type="submit" class="btn btn-success btn-rounded btn-icon-text">
                        <i class="mdi mdi-account-plus btn-icon-prepend"></i> Registrar</button>
                    </form>
                </div>
              </div>
            </div>
          </div> 
    </div> 
</template>