<template>
    <div>
       <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos del Documento</h4>
                    <div class="d-flex flex-row justify-content-start align-items-center ml-3">
                      <div class="d-flex flex-row justify-content-center align-items-center">
                        <h6>Recepción:</h6>
                        <p class="pl-2">11-12-2019</p>
                      </div>
                      <div class="d-flex flex-row justify-content-center align-items-center ml-4">
                        <h6>Fecha:</h6>
                        <p class="pl-2">11-12-2019</p>
                      </div>
                      <div class="d-flex flex-row justify-content-center align-items-center ml-4">
                        <h6>Prefijo:</h6>
                        <p class="pl-2">CU000</p>
                      </div>
                      <div class="d-flex flex-row justify-content-center align-items-center ml-4">
                        <h6>N° Documento</h6>
                        <p class="pl-2">10092029</p>
                      </div>
                    </div>
                    <div class="d-flex flex-row justify-content-start align-items-center ml-3 mt-1">
                      <div class="d-flex flex-row justify-content-center align-items-center">
                        <h6>N° Documento</h6>
                        <p class="pl-2">10092029</p>
                      </div>
                      <div class="d-flex flex-row justify-content-center align-items-center ml-4">
                        <h6>Tipo de Documento:</h6>
                        <h6 class="pl-2 text-success">Factura Electrónica</h6>
                      </div>
                    </div>
                    <div class="mt-1">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <!-- <th><p>N° Documento</p></th>
                              <th><p>Tipo Documento</p></th> -->
                              <th><p>Nit Emisor</p></th>
                              <th><p>Emisor</p></th>
                              <th><p>Nit Receptor</p></th>
                              <th><p>Receptor</p></th>
                              <th><p>Estado</p></th>
                              <th><p>Monto</p></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <!-- <td>109048</td>
                              <td>CC</td> -->
                              <td>135013345</td>
                              <td>Alvaro Álex M</td>
                              <td>109048</td>
                              <td>Andres Joel C</td>
                              <td><label class="badge badge-warning">Pendiente</label></td>
                              <td class="text-success">12501 COP</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    </div>
                 
                </div>
              </div>
            </div>
       </div>
    </div>
</template>
