<template>
  <div class="container-scroller">
      <Navbar></Navbar>
      <div class="container-fluid page-body-wrapper">
        <Sidebar></Sidebar>
        <div class="main-panel">
          <div class="content-wrapper">
            <transition name="fade" mode="out-in">
              <router-view></router-view>
            </transition>
          </div>
          <Footer></Footer>
        </div>
      </div>
  </div>
</template>
<script>

  import Navbar from "../components/Navbar.vue";
  import Sidebar from "../components/Sidebar.vue";
  import Footer from "../components/Footer.vue";

  
  export default {
  name: "Dashboard",
  components: {
    Navbar,
    Sidebar,
    Footer
   }
};
</script>
<style>

.fade-enter-active, .fade-leave-active{
  transition: opacity 0.3s
}

.fade-enter, fade-leave-to {
  opacity: 0
}
  
</style>
