<template>
    <div>
        <div class="row" style="box-shadow: 4px 0px 12px 2px rgba(173,173,173,1);">
            <div class="ml-4 p-3">
                <img src="https://res.cloudinary.com/sigtam/image/upload/v1576111510/logo-brand-muisca_l5ed9q.png" alt="Logo Muisca">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 grid-margin stretch-card mt-5">
              <div class="card">
                <h4 class="pl-4 pt-3 text-center" style="color:green">Consulte su factura electrónica</h4>
                <!-- <pre>{{$data}}</pre> -->
                <div class="card-body pl-4">
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputFacturaElectronica">Número de Factura <span style="color:red">(*)</span></label>
                          <input type="text" class="form-control" id="inputFacturaElectronica" v-model="numFactura">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputNit">NIT Emisor <span style="color:red">(*)</span></label>
                          <input type="text" class="form-control" id="inputNit" v-model="nitEmisor">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputRazonSocial">Nit Receptor <span style="color:red">(*)</span></label>
                          <input type="text" class="form-control" id="inputRazonSocial" v-model="nitReceptor">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputValorFactura">Valor Factura</label>
                            <input type="text" class="form-control" id="inputValorFactura" disabled="disabled" v-model="dataMonto">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCodigoActividad">Fecha de generación de Factura</label>
                            <input type="text" class="form-control" id="inputCodigoActividad" disabled="disabled" v-model="dataFecha">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCodigoActividad">Verificación del Documento</label>
                            <input type="text" class="form-control" id="inputCodigoActividad" disabled="disabled" v-model="dataEstado">
                        </div>
                       
                      </div>
                      <button type="button" @click="getDataAPIDIAN()" class="btn btn-success btn-rounded btn-icon-text">
                        <i class="mdi mdi-account-plus btn-icon-prepend"></i> Consultar</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos del Documento</h4>
          
                    <div class="mt-1">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th><p>Fecha</p></th>
                              <th><p>Prefijo</p></th>
                              <th><p>Nit Emisor</p></th>
                              <th><p>Nit Receptor</p></th>
                              <th><p>Estado</p></th>
                              <th><p>Monto</p></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{dataFecha}}</td>
                              <td>{{dataprefijo}}</td>
                              <td>{{nitEmisor}}</td>
                              <td>{{nitReceptor}}</td>
                              <td><label class="badge badge-warning">{{dataEstado}}</label></td>
                              <td class="text-success">{{dataMonto}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    </div>
                 
                </div>
              </div>
            </div>
       </div>
            </div>
          </div>   -->
          
    </div>
</template>
<script>

import axios from 'axios';

export default {
  mounted(){
    // this.getDataAPIDIAN()
  },

  data() {
    return {
      numFactura: '',
      nitEmisor: '',
      nitReceptor: '',
      dataFecha: '',
      dataprefijo: '',
      dataEstado: '',
      dataMonto: ''
    }
  },
  methods: {
      getDataAPIDIAN(){

        axios.get("https://api-dian-b.herokuapp.com/factura", {
          params: {
              numero_completo: this.numFactura,
              nit_emisor: this.nitEmisor,
              nit_receptor: this.nitReceptor
          }
        })
        .then(res => {

             this.dataFecha = res.data[0].fecha_factura;
             this.dataprefijo = res.data[0].prefijo;
             this.nitEmisor = res.data[0].nit_emisor.nit;
             this.nitReceptor = res.data[0].nit_receptor;
             this.dataEstado = res.data[0].estado.estado;
             this.dataMonto = res.data[0].valor_factura;
        })

      }
  }



}
</script>