<template>
    <div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <h3 class="pl-4 pt-3">Crear Factura</h3>
                 <div class="row container">
                   <div class="col-md-4 d-flex justify-content-start align-items-center pl-4">
                     <p style="color:green">Ingrese el NIT de la empresa a la que realizará la factura</p>
                   </div>
                   <div class="col-md-6">
                     <input type="text" class="form-control" id="inputCodigoReferencia" placeholder="Código de la empresa a Facturar" v-model="nitABuscar">
                   </div>
                   <div class="col-md-2">
                     <button class="btn btn-success btn-rounded pl-4" @click="validateNit()">Validar NIT</button>
                   </div>
                 </div>

                  <div class="row mt-4">
                      <div class="col-md-3">
                          <h4 class="pt-3 pl-4"> <span style="color:green">Datos de la empresa</span> </h4>
                      </div>
                      <div class="col-md-9 d-flex justify-content-start pt-2">
                        <button class="btn btn-success btn-rounded" @click="getProductsCompany()"> Obtener Productos</button>
                      </div>
                    </div>

                    <div class="row">
                       <div class="col-md-12">
                         <div class="table-responsive mt-3 pl-3">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th><p>Nombre Empresa</p></th>
                                    <th><p>Dirección</p></th>
                                    <th><p>Telefono</p></th>
                                    <th><p>Correo</p></th>
                                    <th><p>Tipo Contribuyente</p></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <td>{{nombreEmpresa}}</td>
                                  <td>{{direcciónEmpresa}}</td>
                                  <td>{{telefonoEmpresa}}</td>
                                  <td>{{correoEmpresa}}</td>
                                  <td>{{tipoContribuyente}}</td>
                                </tbody>
                              </table>
                        </div>
                       </div>
                    </div>
                <!-- <pre>{{$data}}</pre> -->
                <div class="card-body pl-4">
                    <div class="row">
                      <div class="col-md-3">
                          <h4 class="pt-3"> <span style="color:green">Datos del Producto</span> </h4>
                      </div>
                      <div class="col-md-9 d-flex justify-content-end pt-2">
                        <!-- <button type="button" @click="addProduct()" class="btn btn-success btn-rounded"> Añadir Producto a Factura</button> -->
                        <button class="btn btn-success btn-rounded" data-toggle="modal" data-target="#exampleModal"> Añadir Productos</button>
                      </div>
                    </div>
                    <div class="form-row">
                         <template v-if="getAllProductos.length > 0">
                           <div class="table-responsive mt-3">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <!-- <th><p>N° Documento</p></th>
                                    <th><p>Tipo Documento</p></th> -->
                                    <th><p>Codigo Referencia</p></th>
                                    <th><p>Nombre Producto</p></th>
                                    <!-- <th><p>Tipo</p></th> -->
                                    <!-- <th><p>Unidad de Medida</p></th> -->
                                    <th><p>Precio Unitario</p></th>
                                    <th><p>Iva</p></th>
                                    <th><p>Costo Total</p></th>
                                    <th><p>Acciones</p></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(item, index) in getAllProductos" :key="index">
                                    <td>
                                      {{item.codigo}}
                                    </td>
                                    <td>
                                      {{item.nombre}}
                                    </td>
                                    <!-- <td>
                                      {{item.tipo}}
                                    </td> -->
                                    <!-- <td>
                                      {{item.unidad}}
                                    </td> -->
                                    <td>
                                      {{item.precio}}
                                    </td>
                                    <td>
                                      {{item.iva}}%
                                    </td>
                                    <!-- <td>
                                      {{item.descripcion}}
                                    </td> -->
                                    <td>
                                      {{item.total}}
                                    </td>
                                    <td>
                                      <div class="d-flex ">
                                        <button type="button" class="btn btn-success btn-rounded btn-icon" data-toggle="modal" data-target="#modaledit" @click="getProduct(item.identificador)">
                                        <i class="mdi mdi-tooltip-edit"></i>
                                      </button>
                                      <button type="button" class="btn btn-success btn-rounded btn-icon ml-2">
                                        <i class="mdi mdi mdi-delete-forever"></i>
                                      </button>

                                      </div>
                                      
                                      <!-- <button class="btn btn-success">Edit</button> -->
                                    </td>

                                    <!-- <td>109048</td>
                                    <td>CC</td> -->
                                    <!-- <td>135013345</td>
                                    <td>Alvaro Álex M</td>
                                    <td>109048</td>
                                    <td>Andres Joel C</td>
                                    <td><label class="badge badge-warning">Pendiente</label></td>
                                    <td class="text-success">12501 COP</td> -->
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                         </template>
                         <template v-else>
                           <div class="table-responsive mt-3">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th><p>Codigo Referencia</p></th>
                                    <th><p>Nombre Producto</p></th>
                                    <!-- <th><p>Tipo</p></th> -->
                                    <!-- <th><p>Unidad de Medida</p></th> -->
                                    <th><p>Precio Unitario</p></th>
                                    <th><p>Iva</p></th>
                                    <th><p>Costo Total</p></th>
                                  </tr>
                                </thead>
                              </table>
                          </div>
                         </template>
                      </div>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Añadir Productos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <span style="class:green"><h4> Agregue los Productos que sean necesarios en caso de que no desee agregar más oprima guardar y cerrar</h4></span>
                  <form class="mt-4">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputCodigo">Código Referencia</label>
                          <input type="text" class="form-control" id="inputCodigoReferencia" placeholder="Código del Producto" v-model="codreferencia">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputCodigo">Nombre del Producto</label>
                          <input type="text" class="form-control" id="inputNombre" placeholder="Nombre del Producto" v-model="nombreProducto">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputcufe">Tipo</label>
                          <select class="form-control" @change="getType(tipoProducto)" v-model="tipoProducto">
                                <option value="" selected disabled> Seleccione Tipo de Producto</option>
                                <option value="Hogar y Limpieza">Hogar y Limpieza</option>
                                <option value="Cosmeticos y cuidado personal">Cosméticos y cuidado personal</option>
                                <option value="Producto Infantil">Producto Infantil</option>
                                <option value="Carnes y embutidos">Carnes y Embutidos</option>
                                <option value="Frutas y verduras">Frutas y verduras</option>
                                <option value="Panadería y Dulces">Panadería y Dulces</option>
                                <option value="Huevos Dulces y Café">Huevos Dulces y Café</option>
                                <option value="Aceites pasta y legumbres">Aceites pasta y legumbres</option>
                                <option value="Conservas y comida preparada">Conservas y comida Preparada</option>
                                <option value="Bebidas y Zumos">Bebidas y Zumos</option>
                                <option value="Aperitivos">Aperitivos</option>
                                <option value="Electrodomesticos">Electrodomésticos</option>
                                <option value="Medicamentos">Medicamentos</option>
                                <option value="Vitaminas">Vitaminas</option>
                                <option value="Salud sexual y Reproductiva">Salud sexual y Reproductiva</option>
                                <option value="Calzado">Calzado</option>
                                <option value="Ropa y Accesorios">Ropa y accesorios</option>
                            </select>

                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputRango">Unidad de Medida</label>
                             <select class="form-control" @change="getUnity(unidadMedida)" v-model="unidadMedida">
                                <option value="" selected disabled> Seleccione U/M</option>
                                <option value="Unidad">Unidad</option>
                                <option value="Pieza">Pieza</option>
                                <option value="Servicio">Servicio</option>
                                <option value="Millar">Millar</option>
                                <option value="Centimetro">Centimetro (CM)</option>
                                <option value="Metro">Metro (M)</option>
                                <option value="Pulgada">Pulgada</option>
                                <option value="Centimetros Cuadrados">Centrimetros Cuadrados</option>
                                <option value="Metros Cuadrados">Metros Cuadrados</option>
                                <option value="Litro">Litro</option>
                                <option value="Galon">Galon</option>
                                <option value="Gramo">Gramo (g)</option>
                                <option value="Kilogramo">Kilogramo (Kg)</option>
                                <option value="Tonelada">Tonelada</option>
                                <option value="Libra">Libra</option>
                            </select>
                                           
                        </div>
                        <div class="form-group col-md-4">
                            <label for="precioUnitarioVenta">Precio unitario de venta</label>
                            <input type="text" class="form-control" id="precioUnitarioVenta" v-model="precioUnitarioVenta">
                        </div>

                    
                        <div class="form-group col-md-4">
                            <label for="inputIva">IVA</label>
                             <select class="form-control" @change="getIva(iva)" v-model="iva">
                                <option value="" selected disabled>IVA (0%)</option>
                                <option value="5">IVA (5%)</option>
                                <option value="10">IVA (10%)</option>
                                <option value="19">IVA (19%)</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-12">
                                <label for="inputDescripcion">Descripción</label>
                                <textarea class="form-control" id="inputDescription" rows="10" cols="10" v-model="descripcionProducto"></textarea>
                          </div>
                      </div>
                    </form>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cleanData()">Guardar y Cerrar</button>
                  <button type="button" @click="addProduct()" class="btn btn-primary"> Añadir Nuevo Producto</button>
                </div>
              </div>
            </div>
        </div>
<!------------------------------------------ Modal Editar ------------------------------------------------->
        <div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar Productos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="mt-4">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputCodigo">Código Referencia</label>
                          <input type="text" class="form-control" id="inputCodigoRef" placeholder="Código del Producto" v-model="codreferenciaEdit">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputCodigo">Nombre del Producto</label>
                          <input type="text" class="form-control" id="inputNombreProducto" placeholder="Nombre del Producto" v-model="nombreProductoEdit">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputcufe">Tipo</label>
                          <select class="form-control" @change="getType(tipoProductoEdit)" v-model="tipoProductoEdit">
                                <option value="" selected disabled> Seleccione Tipo de Producto</option>
                                <option value="Hogar y Limpieza">Hogar y Limpieza</option>
                                <option value="Cosmeticos y cuidado personal">Cosméticos y cuidado personal</option>
                                <option value="Producto Infantil">Producto Infantil</option>
                                <option value="Carnes y embutidos">Carnes y Embutidos</option>
                                <option value="Frutas y verduras">Frutas y verduras</option>
                                <option value="Panadería y Dulces">Panadería y Dulces</option>
                                <option value="Huevos Dulces y Café">Huevos Dulces y Café</option>
                                <option value="Aceites pasta y legumbres">Aceites pasta y legumbres</option>
                                <option value="Conservas y comida preparada">Conservas y comida Preparada</option>
                                <option value="Bebidas y Zumos">Bebidas y Zumos</option>
                                <option value="Aperitivos">Aperitivos</option>
                                <option value="Electrodomesticos">Electrodomésticos</option>
                                <option value="Medicamentos">Medicamentos</option>
                                <option value="Vitaminas">Vitaminas</option>
                                <option value="Salud sexual y Reproductiva">Salud sexual y Reproductiva</option>
                                <option value="Calzado">Calzado</option>
                                <option value="Ropa y Accesorios">Ropa y accesorios</option>
                            </select>
                          <!-- <input type="text" class="form-control" id="inputcufe" placeholder="N° Único de Facturación electrónica"> -->
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputRango">Unidad de Medida</label>
                             <select class="form-control" @change="getUnity(unidadMedidaEdit)" v-model="unidadMedidaEdit">
                                <option value="" selected disabled> Seleccione U/M</option>
                                <option value="Unidad">Unidad</option>
                                <option value="Pieza">Pieza</option>
                                <option value="Servicio">Servicio</option>
                                <option value="Millar">Millar</option>
                                <option value="Centimetro">Centimetro (CM)</option>
                                <option value="Metro">Metro (M)</option>
                                <option value="Pulgada">Pulgada</option>
                                <option value="Centimetros Cuadrados">Centrimetros Cuadrados</option>
                                <option value="Metros Cuadrados">Metros Cuadrados</option>
                                <option value="Litro">Litro</option>
                                <option value="Galon">Galon</option>
                                <option value="Gramo">Gramo (g)</option>
                                <option value="Kilogramo">Kilogramo (Kg)</option>
                                <option value="Tonelada">Tonelada</option>
                                <option value="Libra">Libra</option>
                            </select>
                                           
                        </div>
                        <div class="form-group col-md-3">
                            <label for="precioUnitarioVenta">Precio unitario de venta</label>
                            <input type="text" class="form-control" id="precioUnitarioVenta" v-model="precioUnitarioVentaEdit">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="inputIva">IVA</label>
                             <select class="form-control" @change="getIva(ivaEdit)" v-model="ivaEdit">
                                <option value="" selected disabled>IVA (0%)</option>
                                <option value="5">IVA (5%)</option>
                                <option value="10">IVA (10%)</option>
                                <option value="19">IVA (19%)</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-12">
                                <label for="inputDescripcion">Descripción</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="10" v-model="descripcionProductoEdit"></textarea>
                          </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" @click="editProduct(idEdit)" class="btn btn-primary" data-dismiss="modal"> Guardar y Cambios</button>
                </div>
              </div>
            </div>
        </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</template>
<script>
// import $ from 'jquery';
// import 'popper.js';
// import "bootstrap/dist/js/bootstrap.js";
import axios from "axios"
export default {
  data(){
    return{
      codreferencia: '',
      nombreProducto: '',
      tipoProducto: '',
      unidadMedida: '',
      precioUnitarioVenta: '',
      iva: '',
      descripcionProducto: '',
      codreferenciaEdit: '',
      nombreProductoEdit: '',
      tipoProductoEdit: '',
      unidadMedidaEdit: '',
      precioUnitarioVentaEdit: '',
      ivaEdit: '',
      idEdit: '',
      descripcionProductoEdit: '',
      productos: [],
      producto : {},
      id: 0,
      nitABuscar: "",
      nombreEmpresa: "",
      direcciónEmpresa: "",
      telefonoEmpresa: "",
      correoEmpresa: "",
      tipoContribuyente: ""


    }
  },
  computed:{
    getAllProductos(){
      return this.productos;
    }

    /* <th><p>Dirección</p></th>
                                    <th><p>Telefono</p></th>
                                    <th><p>Correo</p></th>
                                    <th><p>Tipo Contribuyente</p></th> */
  },
  methods: {


    getType(tipo){
      this.tipoProducto = tipo;
    },
    getUnity(unidad){
      this.unidadMedida = unidad;
    },
    getIva(valoriva){
      this.iva = valoriva
    },
    getProductos(){
      // axios.get("http://backend-facturapp.herokuapp.com/producto")
      // .then(res => {
      //   console.log(res.data)
      // })
    },
    addProduct(){
      this.productos.push({
        identificador: this.id,
        codigo: this.codreferencia,
        nombre: this.nombreProducto,
        tipo: this.tipoProducto,
        unidad: this.unidadMedida,
        precio: this.precioUnitarioVenta,
        descripcion: this.descripcionProducto,
        iva: this.iva,
        total: parseInt(this.precioUnitarioVenta) + (parseInt(this.precioUnitarioVenta) * (parseInt(this.iva) * 0.01)) 
      })
      this.cleanData();
      this.id++;
      // $('#exampleModal').modal('toggle'); 
    },
    cleanData(){
        this.codreferencia = "";
        this.nombreProducto = "";
        this.tipoProducto = "";
        this.unidadMedida = "";
        this.tipoProducto = "";
        this.precioUnitarioVenta = "";
        this.iva = "";
        this.total = "";
        this.descripcionProducto = "";
    },
    getProduct(idProduct){
        this.productos.map( prod=> {
          if(prod.identificador == idProduct){
            this.idEdit = prod.identificador;
            this.codreferenciaEdit = prod.codigo;
            this.nombreProductoEdit = prod.nombre;
            this.tipoProductoEdit = prod.tipo;
            this.unidadMedidaEdit = prod.unidad;
            this.precioUnitarioVentaEdit = prod.precio;
            this.ivaEdit = prod.iva;
            this.descripcionProductoEdit = prod.descripcion;
          }   
        })
    },

    validateNit(){

        axios.get("http://api-dian-b.herokuapp.com/contribuyente")
        .then(res => {
           console.log(res.data[0])
           this.nombreEmpresa = res.data[0].nombre_razon_social;
           this.telefonoEmpresa = res.data[0].telefono;
           this.correoEmpresa = res.data[0].email;
           this.tipoContribuyente = res.data[0].tipo_contribuyente_id == 1 ? "Persona Natural" : " Persona Jurídica";
           this.direcciónEmpresa = res.data[0].direccion;
        })


    },

    editProduct(idProduct){
      this.productos.map(prod => {
        if(prod.identificador == idProduct){
          prod.codigo = this.codreferenciaEdit;
          prod.nombre = this.nombreProductoEdit;
          prod.tipo = this.tipoProductoEdit;
          prod.unidad = this.unidadMedidaEdit;
          prod.precio = this.precioUnitarioVentaEdit;
          prod.descripcion = this.descripcionProductoEdit;
          prod.iva = this.ivaEdit;
          prod.total = parseInt(prod.precio) + (parseInt(prod.precio) * (parseInt(prod.iva) * 0.01));
        }
      })
    }
  }
}
</script>